* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    font-family: 'Outfit';


    --clr-neutral-100: hsl(0, 0%, 100%);
    --clr-neutral-400: hsl(212, 45%, 89%);
    --clr-neutral-600: hsl(220, 15%, 55%);
    --clr-neutral-900: hsl(218, 44%, 22%);


    --fs-title: 1.4em;
    --fs-body: 1em;
}

body {
    background-color: var(--clr-neutral-400);
    color: var(--clr-neutral-900);
    padding: 5%;
    display: grid;
    place-content: center;
    min-height: 100vh;
    text-align: center;
}

.card {
    max-width: 20rem;

    background-color: var(--clr-neutral-100);
    padding: 1em;
    padding-bottom: 2.3em;

    border-radius: 1em;

    display: grid;
    justify-items: center;

}

.card__img {
    max-width: 100%;

    border-radius: 0.5em;

    margin-bottom: 1em;
}

.card__title {
    font-size: var(--fs-title);
    margin-bottom: 0.8em;
}


.card__paragraph {
    font-size: var(--fs-body);
    color: var(--clr-neutral-600);

    max-width: 24ch;
}


.attribution {
    width: 100%;
    padding: .5em;
    position: absolute;
    top: 0;
    left: 0;
}